*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px 20px;
    background: black;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    color:#333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container{
    padding: 0.50rem 0.50rem;
    width: 100vw;
    /* max-width: 1350px; */
    border-radius: 10px;
    background:black;
    backdrop-filter: blur(20px);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(270deg, #00dbde, #fc00ff, #00dbde);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: BackgroundMove 10s ease infinite;
}

@keyframes BackgroundMove {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

label{
    font-weight: 600;
    color: white;
    font-size: 15px;
}

label input{
    padding: 0.3em 0.3rem;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: black;
}

label input:focus{
    outline: none;
    border: 1px solid #666;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.auth-buttons button {
  background: #340130;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background: blueviolet;
}

/* Modal Base */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

/* Overlay to block clicks (even though transparent) */
.modal::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent; /* no visible background */
  pointer-events: all; /* block all clicks behind */
}

/* Modal Box */
.modal-content {
  background: white;
  padding: 25px;
  border-radius: 5px;
  width: 90%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all; /* re-enable only for modal */
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  animation: popup 0.3s ease;
}

.modal-content input{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.modal-content input:focus{
    outline: none;
    border: 1px solid #29011a;
}

.modal-content h2{
    color: #340130;
    margin-bottom: 20px;
}

/* Remember Me + Forgot Password Section */
.rem-for {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px 0;
  width: 100%;
}

/* Label and checkbox alignment */
.remember-label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  font-size: 12px;
  font-weight: 400;
}

/* Adjust checkbox spacing */
.remember-label input[type="checkbox"] {
  width: 14px;
  height: 16px;
  accent-color: #340130; /* checkbox color */
}

/* Forgot password link styling */
.forgot-password {
  color: #340130;
  font-size: 13px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #21001e;
}


.modal-content button{
    width: 100%;
    padding: 10px;
    color: white;
    background: #340130;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
}
.modal-content button:hover{
    background: #21001e;
}
/* Disable page scroll when modal active */
body.modal-open {
  overflow: hidden;
  pointer-events: none; /* freeze all page elements */
}

/* But allow modal interaction */
body.modal-open .modal,
body.modal-open .modal * {
  pointer-events: all !important;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.5rem;
}

.box img{
    width: 70%;
    height: 650px;
    margin-left: 50px;
    animation: fadeIn 3s ease;
}
@keyframes fadeIn {
    from{transform: translateY(50px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}
.box{
    padding: 0.5rem 1rem;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.07); */
    color: white;
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
    /* background: white; */
}
.legend{
    width: 90%;
    text-align: center;
}
.legend img{
    width: 600px;
    height: 300px;
}

.selection{
    position: relative;
    width: 100%;
    height: 450px;
    z-index: 900;
    margin-bottom: 30px;
}
.selection h4{
    color: #fff;
    background: #f71e29;
    padding: 2px 5px;
    border-radius: 5px;
    width: 70px;
    font-size: 15px;
}

.track{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide{
    min-width: 24.3%;
    height: 100%;
    border: 1px solid #21001c;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px 20px;
    background: #111;
}
.slide h3{
    margin-bottom: 7px;
    color: skyblue;
    font-size: 1em;
}
.slide p{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 600;
    font-size: 0.85em;
    color: white;
}
.image{
    width: 100%;
    height: 180px;
    border-radius: 5px;
    background: #ccc;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.dialog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.btnbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    margin-top: 20px;
}

.btns button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #d814bb;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease;
}

.btns button:hover{
    background: #350e0e;
}

.vote{
    font-weight: 500;
    font-style: italic;
    color: white;
}
.view-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.03);
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forClose{
    background: black;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 550px;
}
.close{
    font-size: 1.5rem;
    color: #ccc;
    float: right;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
}

.close:hover{color: #d814bb}

.view-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180, 1fr));
    gap: 1.5em;
    color: white;
    font-style: italic;
}
.view-content img{
    width: 90%;
    height: 350px;
    border-radius: 10px;
}

/* Scrollbar styling for the .track container */
.track::-webkit-scrollbar, .track2::-webkit-scrollbar {
  height: 10px; /* horizontal scrollbar height */
}

.track::-webkit-scrollbar-track, .track2::-webkit-scrollbar-track2 {
  background: #666; /* track background (a bit lighter than pure black) */
  border-radius: 10px;
}

.track::-webkit-scrollbar-thumb, .track2::-webkit-scrollbar-thumb {
  background: #666; /* scrollbar thumb color */
  border-radius: 10px;
}

.track::-webkit-scrollbar-thumb:hover {
  background: #333; /* when hovering over scrollbar */
}

/* Firefox scrollbar styling */
.track {
  scrollbar-width: thin;
  scrollbar-color: black #222;
}
.readmore{
    text-decoration: underline;
    color: #6e0303;
    cursor: pointer;
    transition: color 0.2s;
}
.readmore:hover{
    color: #ccc;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    padding: 10px;
}

.textbox{
    width: 800px;
    height: 90vh;
    overflow: hidden;
}

.track2{
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    position: relative;
    background: black;
}
.slide2{
    font-style: italic;
    color: white;
    padding: 20px 20px;
    font-size: 15px;
    text-align: justify;
}

/* Css from dashboard.html */
.dash-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-bottom: 50px;
}

.dashbox{
    padding: 1rem 2rem;
    background: #222;
    color: deeppink;
    border-radius: 5px;
}
.dashbox h3{
    font-size: 15px;
    margin-bottom: 30px;
}
.dashbox p{
    margin-bottom: 20px;
    font-weight: 600;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 50px;
}

.buttons button{
    padding: 10px 25px;
    background: red;
    color: white;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.buttons button:hover{
    background: #940303;
}
.tiktoker-slide {
  transition: all 0.3s ease;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 35px; /* space for the eye icon */
}

.explain{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

@media (max-width: 1200px) {
    .slide{min-width: 40%}
    .box img{margin-left: 0;}
    .legend img{width: 400px; height: 180px;}
}

@media (max-width: 880px) {
    header{flex-direction: row;}
    .container{padding: 0.5rem 1rem;}
    .box{padding: 0;}
    .box img{width: 100%; height: 450px;}
    .grid{gap: 0.5rem;}
    .slide{min-width: 55%}
    .container{max-width: 1500; padding: 0.5rem;}
    .legend img{width: 400px; height: 180px;}
}

@media (max-width: 720px) {
    .grid{display: flex; flex-direction: column;}
    .legend img{width: 500px; height: 200px;}
}

@media (max-width: 680px) {
    .slide{min-width: 55%; font-size: 0.89em; height: auto;}
    .container{max-width: 1500; padding: 0.5rem;}
    .grid{gap: none;}
    header{flex-direction: column;}
    .auth-buttons{margin-left: 50px;}
    .search{flex-wrap: wrap;}
    label{font-size: 15px;}
    label input{ padding: 5px 10px;}
}

@media (max-width: 550px) {
    .slide{min-width: 75%; font-size: 0.89em; height: auto;}
    .container{max-width: 1500; padding: 0.5rem;}
    .forClose{width: 450px;}
    .legend img{width: 300px; height: 150px;}
    .grid{gap: none;}
    .slide2{font-size: 15px;}
}

@media (max-width: 450px) {
    .slide{min-width: 85%; font-size: 0.89em; height: auto;}
    .container{max-width: 1500; padding: 0.5rem;}
    .video{width: 180px; height: 320px;}
    .forClose{width: 400px;}
    .grid{gap: none;}
    .rewards{font-size: 15px;}
    .selection h4{padding: 2px 3px;font-size: 15px;}
}

@media (max-width: 380px) {
    .slide{min-width: 95%; font-size: 0.89em; height: auto;}
    .container{max-width: 1500; padding: 0.5rem;}
    .video{width: 180px; height: 280px;}
    .view-content{font-size: 0.80rem;}
    .forClose{width: 350px;}
    .grid{gap: none;}
    .rewards{font-size: 13px;}
}

@media (max-width: 360px) {
    .slide{min-width: 90%; font-size: 0.89em; height: auto;}
    .container{max-width: 1500; padding: 0.5rem;}
    .grid{gap: none;}
    .rewards{font-size: 13px;}
}

@media (max-width: 290px) {
    .slide{min-width: 135%; font-size: 0.89em; height: auto;}
    .slide p{margin-bottom: 3px;}
    .container{max-width: 1500; padding: 0.5rem;}
    .forClose{width: 300px;}
    .grid{gap: none;}
    .rewards{font-size: 12px;}
    .auth-buttons{margin-left: auto;}
}

@media (max-width: 250px) {
    .slide{min-width: 200%; font-size: 0.89em; height: auto;}
    .slide p{margin-bottom: 3px; font-size: 0.40em;}
    .container{max-width: 1500; padding: 0.5rem;}
    .grid{gap: none;}
    .legend img{width: 180px; height: 90px;}
    .grid{gap: none;}
}